<div>
    
        <input id="chatBox" type="text">
        // id para capturar el contenido del input
        <button id="buttonId" type="submit">Enviar</button>
    
    <p id="messageLogs">

        <button id="boton" value="hola">Boton</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>